<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 4</title>
    <meta name="description" content="A webpage used for lab 4." />
    <link rel="stylesheet" href="../static/layout.css" />
  </head>

  <body>
    <header>
      <h1>LABB 4.1</h1>
    </header>
    <main>
      <form action="{{ url_for('register') }}" method="POST">
        <!--Register form-->
        <div>
          <fieldset>
            <legend><strong>Regsiter from</strong></legend>
            <ul>
              <li>
                <p>
                  <select name="payment" size="1" required>
                    <option value="" selected disabled hidden>
                      Choose a payment option
                    </option>
                    <option value="VISA">VISA</option>
                    <option value="MASTERCARD">MASTERCARD</option>
                    <option value="PAYPAL">PAYPAL</option>
                    <option value="SWISH">SWISH</option>
                  </select>
                </p>
              </li>
              <li>
                <p>
                  <label>Firstname:</label>
                  <input
                    type="text"
                    name="firstname"
                    placeholder="First Name"
                    required
                  />
                </p>
              </li>
              <li>
                <p>
                  <label>Lastname:</label>
                  <input
                    type="text"
                    name="lastname"
                    placeholder="Last Name"
                    required
                  />
                </p>
              </li>
              <li>
                <p>
                  <label>Adress:</label>
                  <input
                    type="text"
                    name="address"
                    placeholder="address"
                    required
                  />
                </p>
              </li>
              <li>
                <p>
                  <label>Zip code & City:</label>
                  <!--Pattern[use to specify only 0-9 are correct {used to specify how many numbers should be inputed.}]-->
                  <input
                    type="text"
                    name="zipCode"
                    placeholder="Zip code"
                    pattern="[0-9]{5}"
                    required
                  />
                  <input type="text" name="city" placeholder="City" required />
                </p>
              </li>
              <li>
                <p>
                  <label>Phone number:</label>
                  <input
                    type="text"
                    name="phoneNumber"
                    placeholder="Phone number"
                    pattern="[0-9]{10}"
                    required
                  />
                </p>
              </li>
              <li>
                <p>
                  <label>Mail:</label>
                  <input
                    type="email"
                    name="mail"
                    placeholder="Example@du.se"
                    required
                  />
                </p>
              </li>
              <li>
                <p>
                  <label>Password:</label>
                  <input type="password" name="password" required />
                </p>
              </li>
              <li>
                <p>
                  <label>Recieve newsletter with this email:</label>
                  <input type="checkbox" name="recieveMail" />
                </p>
              </li>
              <li>
                <p>
                  <label>Mail format:</label>
                  <label>HTML: <input type="checkbox" name="htmlBox"/> TEXT: <input type="checkbox" name="textBox"/> </label>
                </p>
              </li>
              <li>
                <p>
                  <label>Comment:</label>
                </p>
              </li>
              <li>
                <p>
                  <textarea name="comment" cols="30" rows="3"></textarea>
                </p>
              </li>
              <li>
                <div>
                  <button type="reset">RESET</button>
                  <button>SEND</button>
                </div>
              </li>
            </ul>
          </fieldset>
        </div>
      </form>
    </main>
  </body>
</html>
