<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 4</title>
    <meta name="description" content="A webpage used for lab 4." />
    <link rel="stylesheet" href="../static/layout.css" />
  </head>

  <body>
    <header>
      <h1>Labb 4.2</h1>
    </header>
    <main>
      <div>
        <table>
          <thead>
            <tr>
              <th>Sensor</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Pressure</th>
            </tr>
          </thead>
          {% for item in data %}
          <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  </body>
</html>
